@model InternetForum.Models.CreateForumThreadViewModel
@{
	ViewData["Title"] = "Create new Forum Thread";
}
<h2> Vytvořit nové vlákno </h2>

@using (@Html.BeginForm("Create", "ForumThread"))
{
	<div class="form-group">
		@Html.LabelFor(m => m.Name)
		@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
	</div>

	<div class="form-group">
		@Html.LabelFor(m => m.Description)
		@Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
	</div>

	<button type="submit" class="btn btn-primary">Přidat nové vlákno</button>
}